<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" packages="utils" status="INFO">
  <Appenders>
    <InfoViewLogAppender name="InfoViewLogAppender" />
    <Console name="Console" target="SYSTEM_OUT" follow="true">
      <PatternLayout>
        <Pattern>%d %p %m%n</Pattern>
      </PatternLayout>
    </Console>
    <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>  
  </Appenders>
  <Loggers>
    <!-- ALL, TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->  
    <Root level="ERROR">
      <AppenderRef ref="InfoViewLogAppender" />
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>